/* コンソールウィンドウ部分の設定 */

.console {
  width: 80%;
  height: 50%;
  background-color: #444444;

  margin-top: 10%;
  margin-left: 10%;

  border-color: #dddddd;
  border-style: solid;

  color: #dddddd;
}

/* アニメーションを付与するクラスの設定 */

.char-pointer-always {
  animation: blink-always 0.8s infinite;
}

/* アニメーションの設定 */

@keyframes blink-always {
  0%, 100% {
    background: #dddddd;
  }
  50% {
    background: #444444;
  }
}
